fastapi
uvicorn
sqlalchemy
mysqlclient
pydantic
python-multipart
python-dotenv
httpx
openai
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
sendgrid
websockets
aiofiles
python-jose[cryptography]
passlib[bcrypt]